@import url("https://fonts.googleapis.com/css?family=Rubik");
* {
  font-family: "Rubik";

  margin: 0;
  padding: 0;
}

.text-container {
  width: 1920px;
  height: 1080px;

  background-color: black;
}

.awesome-text-container {
  color: #f2f2f2;
  text-shadow: 1px 1px 1px black;
  font-size: 24px;
  text-align: center;

  display: block;
  position: absolute;
  top: 55%;
  left: 36%;
}

.awesome-text-container span {
  font-size: 32px;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
  color: #486d5d;
  padding: 0 4px;
}

.image-container {
  width: 100%;
  height: 100%;

  position: relative;
}

.image-container > div {
  position: absolute;
}

#capybara-1 {
  bottom: 20px;
  left: 190px;
}

#capybara-1 img {
  width: 100px;
}

#capybara-2 {
  bottom: 10px;
  left: 10px;
}

#capybara-2 img {
  width: 150px;
}

#capybara-3 {
  bottom: 10px;
  right: 10px;
}

#capybara-3 img {
  width: 300px;
}

#capybara-4 {
  bottom: 40%;
  right: 40%;
}

#capybara-4 img {
  width: 400px;
}

#capybara-5 {
  bottom: 20px;
  left: 70px;
}

#capybara-5 img {
  width: 150px;
}

#capybara-6 {
  top: 20px;
  left: 20px;
}

#capybara-6 img {
  width: 300px;
}

#capybara-7 {
  top: 20px;
  left: 400px;
}

#capybara-7 img {
  width: 350px;
}

#capybara-8 {
  top: 10px;
  right: 10px;
}

#capybara-8 img {
  width: 500px;
}

#capybara-9 {
  top: 80px;
  left: 300px;
}

#capybara-9 img {
  width: 200px;
}
